{% extends "home/base.html" %}
{% block title %}
Project 1 Receipes
{% endblock %}

{% block start %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/receipes/">Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact</a>
    </li>
    <li class="nav-item">
        {% if request.user.is_authenticated %}
            <a class="nav-link" href="/logout/">Logout</a>
        {% else %}
            <a class="nav-link" href="/login/">Login</a>
            <a class="nav-link" href="/register/">Register</a>
        {% endif %}
    </li>
</ul>


<h1>This is Receipe Page</h1>
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Add Receipes</h3>
        <hr>
        <div class="mb-3">
            <label for="receipeName" class="form-label">Receipe Name</label>
            <input name="receipe_name" type="text" required class="form-control">
        </div>
        <div class="mb-3">
            <label for="receipe_description" class="form-label">Receipe Description</label>
            <textarea class="form-control" required name="receipe_description"></textarea>
        </div>
        <div class="mb-3">
            <label for="receipeImage" class="form-label">Receipe Image</label>
            <input name="receipe_image" type="file" class="form-control">
        </div>
        <button type="submit" class="btn btn-success" id="myButton">Add Receipe</button>
    </form>
    <hr>
    <div class="mt-5">
        <div class="mx-auto col-6 ">
            <form >
            <div class="mb-3">
                <label for="search_receipe" class="form-label">Search Receipe</label>
                <input name="search" type="text" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Search </button>
            </form>
        </div>
    </div>
    
    <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Receipe Name</th>
            <th scope="col">Receipe Description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for receipe in receipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{receipe.receipe_name}}</td>
            <td>{{receipe.receipe_description}}</td>
            <td>
                <img src="/media/{{receipe.receipe_image}}" style="height: 200px;">
                
            </td>
            <td>
                <a href="/delete_receipe/{{receipe.id}}" class="btn btn-danger mt-2">Delete>
                <a href="/update_receipe/{{receipe.id}}" class="btn btn-success mt-2">Update>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>

<!--
<script>
    document.getElementById('myButton').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the form from submitting
        alert("Recipe has been added!"); // Display the alert
        // If you want to submit the form after the alert, you can manually submit it here:
        // document.querySelector('form').submit();
    });
</script>
-->
{% endblock %}