{% extends "home/base.html" %}
{% block title %}
Project 1 About
{% endblock %}

{% block start %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    <li class="nav-item">
      <a class="nav-link active" href="/about/">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/receipes/">Receipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">Contact </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login/">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register/">Register</a>
    </li>
  </ul>
    <h1>This is About page of Project1</h1>
{% endblock %}