{% extends "home\base.html" %}
{% block start %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about/">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/receipes/">Receipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact/">Contact </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login/">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register/">Register</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="/set-favorite-movie/">Set Favorite Movie</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'set_favorite_movie' %}" target="_blank">Set Favorite Movie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'get_favorite_movie' %}" target="_blank">Get Favorite Movie</a>
  </li>

</ul>
    
    <h1>Welcome to Home Page of Tijo's Project1 using Django</h1>
      <p></code></p>
    
    <table class="container">
        <tr>
          <th>S.No.</th>
          <th>Name</th>
          <th>Age</th>
          <th>Can Vote</th>
        </tr>
        {%for person in people%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{person.name}}</td>
          <td>{{person.age}}</td>
          <td> {% if person.age >= 18 %}👍Yes
                {% else %}👎No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
      </table>
      <p> {{ text }} </p>
      <h4> {% if "Potato" in vegetables %}
        Yes, Potato is available.
        {%else%}
        Not available
        {% endif %} </h4>
{% endblock %}